PermitRootLogin no
PasswordAuthentication no
PermitEmptyPasswords no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile /data/config/ssh/authorized_keys
HostKey /data/config/ssh/host-keys/ssh_host_ed25519_key
AllowUsers foldingos-admin
X11Forwarding no
AllowTcpForwarding no
PermitTunnel no
