[Unit]
Description=Apply staged FoldingOS image update on reboot
Requires=foldingos-agent-version-check.service
After=foldingos-agent-version-check.service
ConditionPathExists=/data/config/installation-role

[Service]
Type=oneshot
ExecCondition=/bin/sh -c 'grep -qx agent /data/config/installation-role'
ExecCondition=/bin/sh -c 'test -f /data/state/provision/staged-update.json'
ExecStart=/usr/bin/foldingosctl provision apply-update

[Install]
WantedBy=multi-user.target
