[Unit]
Description=Ensure FoldingOS node identity
Requires=foldingos-persistent-dirs.service
After=foldingos-persistent-dirs.service
Before=foldingos-config-validate.service

[Service]
Type=oneshot
ExecStart=/usr/bin/foldingosctl identity ensure
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
