set default="0"
set timeout="3"

menuentry "FoldingOS" {
	search --no-floppy --label FOLDINGOS_ROOT --set=root
	linux /boot/bzImage root=PARTUUID=464f4c44-494e-474f-5352-4f4f54000001 rootwait ro console=tty1 console=ttyS0,115200
}
