set default="0"
set timeout="3"

menuentry "FoldingOS" {
	search --no-floppy --label FOLDINGOS_ROOT --set=root
	linux /boot/bzImage root=LABEL=FOLDINGOS_ROOT rootwait ro console=tty1 console=ttyS0,115200
}
