set default="0"
set timeout="3"

if [ -s $prefix/grubenv ]; then
	load_env
fi
if [ "${next_entry}" ]; then
	set default="${next_entry}"
	set timeout="1"
	set next_entry=
	save_env
fi

menuentry "FoldingOS" {
	search --no-floppy --label FOLDINGOS_ROOT --set=root
	linux /boot/bzImage root=PARTUUID=464f4c44-494e-474f-5352-4f4f54000001 rootwait ro console=tty1 console=ttyS0,115200
}

menuentry "FoldingOS Update" --id foldingos-update {
	search --no-floppy --label FOLDING_EFI --set=root
	linux /foldingos/update/vmlinuz foldingos.update-apply=1 ro console=tty1 console=ttyS0,115200
	initrd /foldingos/update/install-initramfs.cpio.gz
}
